tags
tags.lock
tags.temp

.config/BraveSoftware
.config/QtProject.conf

.local/share/fish
.local/share/vlc
.local/share/nvim
.local/share/newsboat
.local/share/calcurse
.local/share/xorg
.local/share/zathura
.local/share/weatherreport
.local/share/weatherreport
.local/share/lf

.DS_Store
